# Load libraries

In [2]:
import pandas as pd
import numpy as np

# Load data in chunks

In [5]:
bookings_iter = pd.read_csv(
   "/bookings.csv.bz2",
    compression='bz2',
    engine='c',
    chunksize=1000,
    dtype={"arr_port": "string", "pax": np.int16},
    usecols=["arr_port", "pax"],
    delimiter="^",
)

In [6]:
pax_per_port = pd.DataFrame({"arr_port": [], "pax": []})
pax_per_port

Empty DataFrame
Columns: [arr_port, pax]
Index: []

In [7]:
for bookings_chunk in bookings_iter:
    try:
        grp = (
            bookings_chunk.convert_dtypes()
            .dropna()
            .groupby(["arr_port"])
            .agg({"pax": np.sum})
            .reset_index()
        )
        pax_per_port = pax_per_port.append(grp, ignore_index=True)
    except Exception as e:
        bookings_iter.get_chunk.to_csv('./faulty_bookings_group.csv')

In [17]:
(
    pax_per_port
    .groupby(['arr_port'])
    .agg({'pax', np.sum})
    .nlargest(10, 'passengers')
    .reset_index()
    .rename(columns={'arr_port': 'Airport', 'pax': 'Total passengers'})
)

   arr_port  passengers
0  LHR            88809
1  MCO            70930
2  LAX            70530
3  LAS            69630
4  JFK            66270
5  CDG            64490
6  BKK            59460
7  MIA            58150
8  SFO            58000
9  DXB            55590

In [ ]:
(   
    pax_per_port
    .groupby(['arr_port'], as_index=False)
    .agg(passengers = ('pax', np.sum
    .sort_values('passengers')))
   o_csv(o_c"passengers_per_airport_2013_top1sv")v()    
)